<div class="incident-new">
  <%= form_for(@incident) do |f| %>
    <% if @incident.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

        <ul>
        <% @incident.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="fields">
      <div class="container__one">
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_area :description, :class=> 'description__area' %>
        </div>
      </div>
      <div class="container__two">
        <div class="incident__field">
          <%= f.label :location %><br>
          <%= f.text_field :location %>
        </div>
        <div class="incident__field category">
          <%= f.label :category %><br />
          <%= f.collection_select :category_ids, Category.all, :id, :name %>
        </div>
        <div class="incident__field severity">
          <%= f.label :severity %><br>
          <%= f.select :severity, (0..5) %>
        </div>
        <div class="incident__field">
          <%= f.label :date %><br>
          <%= f.date_select :date %>
        </div>
        <div class="incident__field">
          <%= f.label :time %><br>
          <%= f.time_select :time %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
