<div class="timeline">
  <p id="notice"><%= notice %></p>
  <table class="timeline__table">
    <thead class="table__head">
      <tr class="table__fields">
        <th>User</th>
        <th>Description</th>
        <th>Location</th>
        <th>Status</th>
        <th>Severity</th>
        <th>Date</th>
        <th>Time</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @incidents.each do |incident| %>
        <tr class="table__row" data-href="incidents/<%= incident.id %>">
          <td>
            <%= User.find(incident.user_id).first_name %>
            <%= User.find(incident.user_id).last_name %>
          </td>
          <td><%= incident.description %></td>
          <td><%= incident.location %></td>
          <td>Open</td>
          <td><%= incident.severity %></td>
          <td><%= incident.date %></td>
          <td><%= (incident.time).to_s(:time) %></td>
          <td>
            <%= link_to 'Show', incident_path(incident) %><br>
            <%= link_to 'Edit', edit_incident_path(incident) %><br>
            <%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Incident', new_incident_path, :class => "incident__new-btn" %>
</div>
