<div class="incident">
  <p id="notice"><%= notice %></p>

  <div class="column_one">
    <div class="incident__info">
      <label class="info__label">User</label><br>
      <div class="info__text">
        <%= User.find(@incident.user_id).first_name %>
        <%= User.find(@incident.user_id).last_name %>
      </div>
    </div>

    <div class="incident__info">
      <label class="info__label">Description</label><br>
      <div class="info__text"><%= @incident.description %></div>
    </div>

    <% if @incident.media.url %>
      <div class="incident__info">
        <label class="info__label">Media</label><br>
        <img class="js--media" src=<%= @incident.media.url %>/>
      </div>
    <% end %>
  </div>

  <div class="column_two">
    <div class="incident__info">
      <label class="info__label">Location:</label>
      <%= @incident.location %>
    </div>

    <div class="incident__info">
      <label class="info__label">Severity:</label>
      <%= @incident.severity %>
    </div>

    <div class="incident__info">
      <label class="info__label">Date:</label>
      <%= @incident.date %>
    </div>

    <div class="incident__info">
      <label class="info__label">Time:</label>
      <%= (@incident.time).to_s(:time) %>
    </div>
  </div>
<%= link_to 'Edit', edit_incident_path(@incident) %><br>
<%= link_to 'Destroy', @incident, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
