<div class="incident-new">
  <p id="notice"><%= notice %></p>
  <div class="fields">
    <div class="container__one">
      <div class="field">
        <label>Description</label><br>
        <textarea class="description__area" name="incident[description]" id="incident_description" readonly>
          <%= @incident.description %>
        </textarea>
      </div>
      <div class="field media__info">
        <label>Media</label><br>
        <a href="<%= @incident.media.url %>" target="blank">
          <img class="js--media" src=<%= @incident.media.thumb.url %>/>
        </a>
      </div>
      <div class="field media__info tag">
        <label>OpenCV Tags</label>
        <div class="tags">
          <span class="tag__info"><%= @incident.tag %></span>
          <span class="tag__info--fire">Fire</span>
        </div>
      </div>
    </div>
    <div class="container__two">
      <div class="incident__field">
        <label>Location</label><br>
        <input type="text" value="<%= @incident.location %>" id="incident_location" readonly>
      </div>
      <div class="incident__field severity">
        <label>Severity</label><br>
        <input type="text" value="<%= @incident.severity %>" readonly>
      </div>
      <div class="incident__field">
        <label>Date</label><br>
        <%= @incident.date %>
      </div>
      <div class="incident__field">
        <label>Time</label><br>
        <%= (@incident.time).to_s(:time) %>
      </div>
    </div>
  </div>
  <!--<div class="incident__links">
    <%= link_to 'Edit', edit_incident_path(@incident) %>
    <%= link_to 'Destroy', @incident, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>-->
</div>
